<div class="box">
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        JOINED PROJECTS
      </h1>
      <% @collabwith.each do |user| %>
        <table class="table" style="background-color:whitesmoke";>
          <tr>
              <th>Title</th>
              <th>Status</th>
              <th>Start Date</th>
              <th>Languages</th>
              <th></th>
          </tr>
          <td><%= user.project.title %></td>
          <td><%= user.project.status %></td>
          <td><%= user.project.start_date %></td>
          <td><%= user.project.languages %></td>
          <td><a class="button is-info is-outlined">Project Dashboard</a></td> <!-- add button to view project dashboard-->
        </table>
      <% end %>
    </div>
  </div>
</section>
</div>
