<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-164x164">
                <%=image_tag(Gravatar.new("#{current_user.email}").image_url)%>
            </figure>
        </div>

        <div class="media-content">
            <div class="content">
                <p>
                    Hi
                    <strong><%= current_user.username %></strong>,
                    <br>
                    <small><%= current_user.email %></small>
                    <br>
                    <!--place holder for user details-->
                </p>
            </div>
        </div>
    </article>
</div>
