<% @projects.each do |project| %>
<table class="table">
  <tr>
  <h1 class="subtitle">MY PROJECTS</h1>
  <th>Title</th>
  <th>Status</th>
  <th>Start Date</th>
  <th>Languages</th>
  </tr>

<td><%= project.title %></td>
<td><%= project.status %></td>
<td><%= project.start_date %></td>
<td><%= project.languages %></td>
</table>

<% end %>
