<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        MY PROJECTS
      </h1>
      <% @projects.each do |project| %>
        <table class="table" style="background-color:whitesmoke";>
          <tr>
              <th>Title</th>
              <th>Status</th>
              <th>Start Date</th>
              <th>Languages</th>
              <th></th>
          </tr>
          <td><%= project.title %></td>
          <td><%= project.status %></td>
          <td><%= project.start_date %></td>
          <td><%= project.languages %></td>
          <td><a class="button is-info is-outlined">Project Dashboard</a></td> <!-- add button to view project dashboard-->
        </table>
      <% end %>
    </div>
  </div>
</section>
