<section></section>
<h1 class="title">FORUM: <%= @forum.name  %></h1>

<div class="container">
    <table class="table is-striped">
        <tr>
            <th width="60%">Topic Title</th>
            <th width="10%">Replies</th>
            <th width="20%">Last Post</th>
            <th width="10%"><%= link_to 'New Topic', "/topics/new?forum=#{@forum.id}", class:"button is-success" %></th>
        </tr>
        <% for topic in @forum.topics %>
        <tr>
            <td><%= link_to topic.name, topic_path(topic.id) %></td>
            <td><%= topic.posts.count %></td>
            <td class="right"></td>
        </tr>
        <% end %>
    </table>
</div>
<br>
