<section class="hero is-primary">
    <div class="hero-body">
        <div class="container" style="padding:2em;">
            <h1 class="title" style="padding:0;">
                COLLABORATORS
            </h1>
            <% @approved_collaborators.each do |c| %>
            <table class="table" style="background-color:#f4b400">
                <tr>
                    <th>Title</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                    <!-- add button to change status of collaborators here -->
                </tr>
                <td><%= c.project.title %></td>
                <td><%= c.user.username %></td>
                <td><%= c.user.email %></td>
                <td>
                    <a class="button is-danger is-outlined">Delete</a>
                </td>
            </table>
            <% end %>
        </div>
    </div>
</section>
