<div class="box">
    <div class="media-content">
        <div class="content">
            <h2 class="subtitle">
                REQUESTS
            </h2>
            <% @pending_collaborators.each do |c| %>
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                    <!-- add button to change status of collaborators here -->
                </tr>

                <td><%= c.user.username %></td>
                <td><%= c.user.email %></td>
                <td>
                    <%= link_to 'Approve', edit_project_collaborator_path(project_id: c.project_id, id: c.id), class: "button is-info is-outlined" %>
                </td>
            </table>
            <% end %>
        </div>
    </div>
</div>
