<section class="hero is-success">
    <div class="hero-body">
        <div class="container" style="padding:2em;">
            <h1 class="title" style="padding:0;">
                REQUESTS TO JOIN PROJECT
            </h1>
            <% @pending_collaborators.each do |c| %>
            <table class="table is-striped">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                    <!-- add button to change status of collaborators here -->
                </tr>
                <td><%= c.user.username %></td>
                <td><%= c.user.email %></td>
                <td>
                    <a class="button is-info is-medium">Delete</a>
                </td>
            </table>
            <% end %>
        </div>
    </div>
</div>
