<footer class="footer">
    <div class="columns">
        <div class="column is-one-third">
            <p>
                <strong>GititGotit</strong>
                <p>Made by the Bashful group.</p>
            </p>
        </div>
        <div class="column">
            <p>
                <strong>Contact Us</strong>
                <p>Talk to Surya.</p>
            </p>
        </div>
        <div class="column">
            <p>
                <strong>Share The Love</strong>
                <p>Slap somebody</p>
            </p>
        </div>
    </div>
</footer>
