<div class="columns is-gapless"></div>

<div class="columns">
    <div class="column is-three-quarters">
        <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="column">
        <figure class="image is-400x400">
            <img src="http://bulma.io/images/placeholders/128x128.png">
        </figure>
    </div>
</div>

<div class="content has-text-centered">
  <h1>Projects</h1>
    <div class="columns">
        <div class="column is-one-third">
            <figure class="image is-400x400">
                <img src="http://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
        <div class="column">
            <figure class="image is-400x400">
                <img src="http://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
        <div class="column">
            <figure class="image is-400x400">
                <img src="http://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
    </div>

    <div class="columns">
        <div class="column is-one-third">
            <figure class="image is-400x400">
                <img src="http://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
        <div class="column">
            <figure class="image is-400x400">
                <img src="http://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
        <div class="column">
            <figure class="image is-400x400">
                <img src="http://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
    </div>
</div>


<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        How It Works
      </h1>
      <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </h2>
    </div>
  </div>
</section>

<div class="content has-text-centered">
  <h1>Users</h1>
  <div class="columns">
      <div class="column is-half">
          <figure class="image is-2by1">
              <img src="http://bulma.io/images/placeholders/128x128.png">
          </figure>
      </div>
      <div class="column is-half">
          <figure class="image is-2by1">
              <img src="http://bulma.io/images/placeholders/128x128.png">
          </figure>
      </div>
  </div>

    <div class="columns">
        <div class="column is-half">
            <figure class="image is-2by1">
                <img src="http://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
        <div class="column is-half">
            <figure class="image is-2by1">
                <img src="http://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
    </div>
</div>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        REVIEWS
      </h1>
      <div class="columns">
          <div class="column is-one-third">
            <div class="content">
              <h2>First review</h2>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="content">
              <h2>Second review</h2>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="content">
              <h2>Third review</h2>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
